// Start - left-navigation
.off-convas-menu{
		max-height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    width: 250px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: $gray-darker;
    height: 100vh;
		float:left;
		position: fixed;
		z-index: 22;
		top:0;
		left: 0;

		-webkit-transform: translateX(-100%);
		-moz-transform: translateX(-100%);
		-o-transform: translateX(-100%);
		transform: translateX(-100%);

		-webkit-transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
		-o-transition: all 0.3s ease;
		transition: all 0.3s ease;

		.footer{
			padding: 60px 18px 30px 24px;
			border-top: none;
			text-align: left;
			a{
				color: $color-white;
			}
		}

		.logo{
			padding: 24px 0 42px 18px;
			width: 200px;
			img{
				width: 182px;
				height: 55px;
			}
		}

		.nav-stacked li{
			a {
		    padding: 12px 24px;
		    color: $gray;
		    overflow: hidden;

		    .material-icons{
		    	font-size: 20px;
		    	-webkit-transition: all 0.3s ease;
					-moz-transition: all 0.3s ease;
					-o-transition: all 0.3s ease;
					transition: all 0.3s ease;
		    }
			}
		}

		.dropdown-icon{
			-webkit-transition: all 0.3s ease;
			-moz-transition: all 0.3s ease;
			-o-transition: all 0.3s ease;
			transition: all 0.3s ease;
		}

		.open .dropdown-icon{
			-webkit-transform: rotate(180deg);
			-moz-transform: rotate(180deg);
			-o-transform: rotate(180deg);
			transform: rotate(180deg);
		}
		
		.inventory-icon{
	    	display: block;
	    }
		.inventory-white-icon{
		   display: none;
		 }


		.nav-stacked > li > a:hover, .nav-stacked > li > a:focus {
		    background-color: transparent;
		    color: $color-white;
		    .inventory-icon{
		    	display: none;
		    }
		    .inventory-white-icon{
		    	display: block;
		    }
		}

		.nav-stacked > li > a{
			background-color: transparent;
		}

		.nav-stacked > li.active > 	a{
			border-left: 4px solid $brand-primary;
			color: $color-white;
			background-color: transparent;
			.inventory-white-icon{
				display: block;
			}
			.inventory-icon{
				display: none;
			}
		}

		// li.active a:hover{
		// 	color: $color-white;
		// }

		.divider{
			border-top: 1px solid $gray-dark;
		}

		ul.dropdown-menu{
			position: static;
	    background: transparent;
	    box-shadow: none;
	    padding: 0 0 0 30px;
	    clear: both;
	    margin: 0;
	    width: 100%;

	    li.active-submenu a{
				color: $color-white;
	    }

	    li a:hover{
	    	background-color: transparent;
	    	color: $color-white;
	    }
			li a:focus{
	    	background-color: transparent;
				outline: none;
	    }
		}

}

.open-menu .off-convas-menu {
	-webkit-transform: translateX(0%);
	-moz-transform: translateX(0%);
	-o-transform: translateX(0%);
	transform: translateX(0%);

	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.open-menu{
	overflow: hidden;
}

.open-menu .opaque{
	display: block;
}

// End - left navigation


//Start - right Content

.off-convas-content{
	// overflow: scroll;
	height: 100vh;
	padding-top: 56px;
	margin-left: 0;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;

	.container-fluid{
		margin-top: 30px
	}

	.nav-heading{
		margin: 30px 12px;
	}

	.top-bar-header{
		width: 100%;
		background-color: $color-white;
		height: 56px;
		box-shadow: rgba(0, 0, 0, 0.0470588) 0px 2px 3px 0px;
		position: fixed;
		z-index: 15;
		left:0;
		top:0;
		-webkit-transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
		-o-transition: all 0.3s ease;
		transition: all 0.3s ease;

		.material-icons{
			font-size: 24px;
			float: none;
		}

		.dropdown-menu{
			position: absolute;
			background: $color-white;
		  padding-left: 0;
		  border: 0;
		  right: -10px;

		  li{
		  	// padding: 6px 0px;
		  	box-shadow: none;
		  }

		  li:last-child{
		  	border-top: 1px solid $gray-light;
		  }

		  li:first-child a{
				color: $gray-dark;
		  }

			li > a {
		    // padding: 6px 15px;
		    padding: 12px 15px;
		    white-space: normal;
			}

		  li a:hover{
			  text-decoration: none;
			  color: dimgray;
			  background-color: #e0e0e0;
		  }

		}

		.hamburger {
			display: block;
			position: relative;
			width: 40px;
			height: 40px;
			vertical-align: middle;
			background-color: transparent;
			border: none;
			margin-top: 12px;
			margin-left: 12px;
			outline: 0;
			cursor: pointer;

		 	span{
			  background-color: $gray-dark;
			  width: 100%;
			  height: 2px;
			  display: block;
			  margin-bottom: 6px;
			  opacity: 1;
			  -webkit-transition: all 0.3s ease;
				-moz-transition: all 0.3s ease;
				-o-transition: all 0.3s ease;
				transition: all 0.3s ease;
		 	}
		}

		.nav-header {
			margin-top: 0px;
			ul {
				li{
					box-shadow: rgba(0, 0, 0, 0.04706) -1px 0px 0px 0px;
					margin-right: 0;
				}
				li.btn-group{
					padding: 11px 6px;
					margin-right: 12px
				}
			}

			.btn-group.open{
				.dropdown-toggle {
			  	-webkit-box-shadow: none;
			  	box-shadow: none;
				}
			}
		}
	}

}

//End - right Content


.hamburger::before{
  content: "below_tab";
  display: none;
}

.top-bar-header{
		padding-left: 0px;
}

.user-info{
	span:not(:last-child){
		display: none;
	}
}

// Start - Media query for tab

@media screen and (min-width:$screen-phone){
	.user-info{
		span:not(:last-child){
			display: inline-block;
		}
	}
}

@media screen and (min-width:$screen-tablet){

}

@media screen and (min-width: $screen-desktop){
	.open-menu{
		overflow: auto;
	}

	.open-menu-tab .top-bar-header{
		padding-left: 250px;
	}

	.open-menu-tab .off-convas-content{
		padding-left: 250px;
	}

	.open-menu-tab .off-convas-menu{
		-webkit-transform: translateX(0%);
		-moz-transform: translateX(0%);
		-o-transform: translateX(0%);
		transform: translateX(0%);
	}

	.hamburger::before{
    content: "above_tab";
    display: none;
  }

  .open-menu-tab .opaque{
		display: none;
	}
}

// End - Media query for tab
