// Login
.login {
	background: url(/images/bg-login.jpg) no-repeat left top;
	background-size: cover;
	position: fixed;
    width: 100%;
    height: 100%;

    &__main {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		width: 100%;

		&--form {
			img {
				width: 100%;
				max-width: 100%;
			}
		}

		&--error {
			display: none;
			.material-icons {
				font-size: 50px;
				color: $gray-dark;
			}
		}
    }

}