.alert{
 	font-size: 14px;
 	position: relative;
    padding: 8px 24px;
    margin-bottom: 0px;

    &--notificaiton{
        position: fixed;        
        background-color: $brand-tertiary;
        color: $color-white;
        font-weight: $font-weight-light;        
        border: none; 
        cursor: pointer;  
        z-index: 999;
        left: 50%;
        top: 10%;
        transform: translate(-50%, -50%);
        
        span{          
            font-weight: $font-weight-regular;
        }

    }

    &--notification{
        position: fixed;        
        font-weight: $font-weight-light;         
        cursor: pointer;  
        z-index: 999;
        left: 50%;
        top: 10%;
        transform: translate(-50%, -50%);
        box-shadow: 0px 3px 9px #c7c7c7;
    }
    
  
}


.alert-danger {
	background-color: #faf1f1;
    color: $brand-danger;
    border: 1px solid $brand-danger;
}

.alert-block{
   //padding: 0px 35px;

    &__icon{
        float: left;
        margin-right: 12px;
        //line-height: 25.5px;
    }

    &__msg{
        font-size: 14px;
        font-weight: $font-weight-regular;
        overflow: hidden;
        text-align: left;
        p{
            margin: 0;
        }
    }

    .material-icons{
        font-size: 16px;
        color: $brand-danger;
        vertical-align: middle;
    }

    .close{
        line-height: 18px;
        position: absolute;
        top: 10px;
        // transform: translateY(-50%);
        right: 10px;
        opacity: 1;
        .material-icons{
            vertical-align: top;
            color: $gray-dark;
           

        }
    }
}

.alert-header {
    // position: fixed;
    // top: 12px;
    // left: 50%;
    // z-index: 9;
    // // padding: 15px;
    // text-align: left;
    // transform: translateX(-50%);
    // color: $gray-darker;
    // box-shadow: 0 4px 8px #E5E5E5; 
}




