.badge {
  font-family: helvetica;
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: $font-weight-regular;
  // padding: 4px;
  min-width: 18px;
  height: 18px;

  &--default{
  background-color: $gray-dark;
  }

  &--info{
  background-color: $brand-info !important;
  }

  &--warning{
  background-color: $brand-warning !important;
  }

  &--success{
  background-color: $brand-success !important;
  }

  &--danger{
  background-color: $brand-danger !important;
  }
}

.btn{
  .badge{
    margin-left: 4px;
  }
}

.btn-default{
  .badge{
    color: $color-white;
  }
}
