//button groups
.btn-group {
	background-color: $color-white;
	
	&> .btn, .btn-group-vertical > .btn {
    	max-height: 30px;
    	padding: 7px 10px;
    	font-size: 12px;
    	height: 30px;
    }
}

.btn-txt{
	border:solid 1px $color-white;
	border-radius: 0;
}