// Calendar

.nb-calendar {
	padding: 12px;

	.btn {
		border: none;
		color: $gray-darker;
	}

	thead th {
	 	padding-bottom: 10px;
		text-align: center;
		border-top:none;
	}

	.btn-default{
		box-shadow:none;
	}

	.btn-info[disabled].active {
	 	background-color: $brand-primary;
	}

	.text-info {
	 	color: $brand-primary;
	 	font-weight: bold;
	}

	.btn-info:active, .btn-info.active, .open > .btn-info.dropdown-toggle {
		background-color: $brand-primary;
		box-shadow: none;

		.text-info {
			color: $color-white;
			font-weight: $font-weight-light;
		}
	}
}

// date picker popup plugin 

.nb-date-picker-popup{
	
	@extend .nb-calendar;

	padding: 0px;

	.dropdown-menu{
		padding: 12px;
	}

	.dropdown-menu:focus {
		outline: none;
	}

	.dropdown-menu {
		outline: none;
	}
}

// Full card calendar
.nb-calendar {

	&--card {
		height: 100% !important;
		box-shadow: none;
		width: 100%;
		padding: 0;
		padding-top: 0px;
		display: block;
  	position: static;
  	top: 0;
  	left: 0;
  	float: none;
		background-color: $color-white;

		table {
			width: 100%;
			height: 100%;

			&:focus {
			 	outline:none;
		  }

			tr:hover td{
				background-color: transparent;
			}

			td {
  			border-left: 1px solid $gray-light;
				width: 14.2857142857%;
				padding: 0;

				&:first-child {
					border-left: 0;
				}
			}

			.btn {
				padding:0;
				max-height: none;
				width: 100%;
		    height: 100%;
		    display: block;
		    border-radius: 0;
		    color: $gray-dark;
		    outline: 0;

		    &:active {
		    	outline: 0;
		    	box-shadow: none;
		    	color: $gray-darker;
		    }

				& > span {
					font-size: 24px;
					font-weight: $font-weight-light;
				}
			}

			thead tr:last-child th {
				padding-top: 18px;
			}

			thead tr:first-child th{

				.btn {
					padding: 0;

					.material-icons {
						font-size: 30px;
						color: $gray-darker;
					}
				}

				&:nth-child(2) .btn{
					font-size: 24px;
					color: $gray-darker;

					strong {
						font-weight: $font-weight-light;
					}
				}
			}
		}
	}
}

.nb-calendar {

	&--card {
		.btn-default:hover{
			background-color: #fff;
		}

		.fc-widget-content{
			height: auto !important;	
		}

		.btn-info:active, .btn-info.active, .open > .btn-info.dropdown-toggle {
			&:hover{
				color: $gray-dark;
				background-color: #fff0f0;
			}
			span {
				font-weight: $font-weight-regular;
			}
		}

		.fc-content-skeleton{
      background-color: $color-white;
			.text-center{
				border-top:1px solid $color-white;
			}
			.fc-day-number {
			   border-top: 1px solid $gray-light;
			   cursor: pointer;
			}
		}

		.fc-widget-header{
			border-top:none ;
			border-bottom:1px solid $color-white ;
			tr{
				background-color: $color-white;
			}
		}

	  .fc-day-number{
			padding: 12px 0px;
			font-size: 24px;
			text-align: center;
			font-weight: 300;
		}

		.nb-progress{
			padding-bottom:12px;
			.nb-progress__status{
				margin-top: 6px;
				line-height: 12px;
			}
		}
	}
}

td.fc-day-number.fc-fri.fc-today{
	font-weight: 400;
	color: $gray-darker;
}

// .fc-unthemed .fc-today{
// 	background: none !important;
// }
// .fc-unthemed .fc-future{
// 	background: none !important;
// }

// .fc-unthemed .fc-today{
// 	background: none !important;
// }

.fc-day-grid-container{
	height: auto !important;
}

[full-calendar]{

	th{
		width: 14.2857142857%;
	}
	tr:hover{
		td.past-date{
			background-color: whitesmoke;
		}
	}

	td.past-date{
		background-color: whitesmoke;
    cursor: not-allowed;
    color: $gray-light;
	}

	.btn-past{
		background-color: whitesmoke;
    cursor: not-allowed;
    color: $gray-light;
    opacity: 1;

		&:hover{
			background-color: whitesmoke !important;
	    cursor: not-allowed;
	    color: $gray-light;
		}

		.nb-progress__status{
			color: $gray;
		}

		.nb-progress__status--done{
			color: #ecacaa;
		}

		progress[value = "100"]::-webkit-progress-value {
			background-color: #ecacaa;
		}

		progress[value ="100"]::-moz-progress-bar {
			background-color: #ecacaa;
		}
	}

	.fc-day-number{
		min-width: 57px;
	}

	.fc-day-header{
		min-width: 57px;
	}

}

ul.nb-calendar{
	border: none;
	tr{
		background-color: $color-white;
		.prev, .next{
			width: 100px;
		}
		.month{
			min-width: 199px;
		}
	}
}
