.range {
    border: 1px solid #e0e0e0;
    border-radius: 3px;
    display: inline-block;
    // padding-right: 3px;

    &--selector{
    	table-layout: fixed;
  		display: table;
  		padding-right: 0;
  		width: 100%;

  		.range-label{
  			padding: 12px;
  			display: table-cell;
  			vertical-align: middle;
  			border-right: 1px solid #e0e0e0;
  			border-left: 1px solid #e0e0e0;
  			width: 40px;
  			text-align: center;
  		}

  		.input-wrapper{
			padding: 0;
  			vertical-align: top;
  			text-align: center;
  			display: table-cell;

			input{
		    	width: 100%;
	  			display: inline-block;
	  			border: none;
	  			padding: 12px;
			}
		}
    }
}

.date-range{

	.date{
		position: relative;
		float: left;

		input{
	    	padding: 11px 28px 11px 6px;
	    	border-radius: 3px;
		}

		&__calendar{
			position: absolute;
			right: 25px;
    		z-index: 9;
    		top: 9px;
		}

		&__select{
			width:170px;
			float:left;
			border:none;
			// max-height: 36px;
		}
	}
}

.add_time_label {
	margin-left: 20px;
	margin-bottom: 10px;
	margin-top: 18px;
}
.add_time_label .form-group {
	margin-bottom: 0;
}
.time-range .time-select {
	// width: 70px;
	width: 100px;
	float: left;
	border: none;
	max-height: 40px;
	border: 1px solid $gray-light;
}
.time-range .duration-select {
	// width: 56px;
	width: 66px;
	float: left;
	border: none;
	max-height: 40px;
}
.claendar_icon_position{
	position: absolute;
    right: 10px;
    z-index: 9;
    top: 6px;
}
