.label-mandatory:after {
  content: '*';
  color: $state-danger-text;
  padding-left: 3px;
  position: relative;
  top:-3px
}

.label-optional:after {
  content: '(Optional)';
  color: $gray;
  padding-left: 3px;
  font-weight: $font-weight-regular;
  position: relative;
  top:-3px
}

.label-hint {
	//float: left;
}

.label-hint + .material-icons {
	font-size: 18px;
	color: $gray;
	margin-left: 5px;
	margin-top: -4px;
	vertical-align: middle;
	cursor:pointer;
	display: inline-block;
	transition: all 0.3s ease;

	&:hover {
		color: $brand-primary;
	}
}