
.option-wrapper	{
	margin-bottom: 30px;
}

.form-group--inner {
	margin-bottom: 18px;
	@include clearfix;

	.text-group {
		margin-bottom: 12px;
	}
}

.option-wrapper	{

	.form-group--inner:last-of-type {
		margin-bottom: 0;
	}
}

.form-group--inner {
	.text-group:last-of-type {
		margin-bottom: 0;
	}
}

