.nb-checkbox {
	
	display: inline-block;
	position: relative;
	transition: all 0.3s ease;
	cursor: pointer;
	margin-bottom: 5px;
	/*margin-right:24px;*/
	input {
		opacity: 0;
		width:0; 
		height: 0;
		outline:0;
		border: none;
		position: absolute;
	}
	
	&__bg {
		display:block;
		width: 18px;
		height: 18px;
		border: 1px solid $gray-dark;
		//background: $color-brand-primary;
		border-radius:2px;
		display: inline-block;
		margin-right: 0px;
		vertical-align: middle;
	}

	&__text {
		vertical-align: middle;
		padding-top: 1px;
		font-weight: $font-weight-regular;
	}
	&__icon {
		position: absolute;
		left: 2px;
		top: 2px;
		opacity: 0;
		transition: all 0.3s ease;
	}

	.material-icons {
		font-size: 14px;
		color: $color-white;
	}

	input:checked+ {

		.nb-checkbox__bg {
			background-color: $gray-darker;
			border-color: transparent;

			+.nb-checkbox__icon {
				opacity: 1;
			}
		}
		
	}

	//disabled
	input[disabled] {
		+.nb-checkbox__bg {
			border-color: $gray;
		}

		~.nb-checkbox__icon .material-icons {
			color: $gray;
		}

		~.nb-checkbox__text {
			color: $gray;
		}
	}

	//textbox
	input[type="text"] {
		opacity: 1;
		position: static;
		min-width: 40px;
		height: 100%;
		padding: 0 5px;
		margin: 0 3px;
		border-bottom: 2px solid $gray-darker;
		font-weight: $font-weight-regular;

		&:disabled {
			border-color: $gray;
			background-color: $color-white;
		}
	}
}

.checkbox-group {

	&--inline {
		.nb-checkbox {
			display: inline-block;
			margin-right: 30px;
		}
	}

	&--block {
		.nb-checkbox {
			display: block;
			margin-bottom: 24px;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	&-heading {
		font-weight: $font-weight-regular;
		font-size: 15px;
		margin-bottom: 12px;
	}
}

/*--------------- white checkboxes----------------*/

.nb-checkbox--white {
	.nb-checkbox__bg{
		border: 2px solid $color-white;
	}
	
	input:checked+ {
		.nb-checkbox__bg{
			background-color: $color-white;
		}
	}

	.material-icons{
		color: $gray-darker;
	}
}


.check-group-inline .nb-checkbox {
  display: inline-block;
  margin-right: 30px;
}

/*--------------- checked disable checkbox---------------*/
.disable{
	+ .nb-checkbox__bg{
		border-color: $gray;
		background-color: $gray !important;
		+.nb-checkbox__icon {
			opacity: 1;
		}
	}

	~ .nb-checkbox__icon .material-icons {
		color: $color-white;
	}

	~ .nb-checkbox__text {
		color: $gray;
	}
}

.disable:checked{
	~ .nb-checkbox__icon .material-icons {
		color: $color-white !important;
	}
}

