/*------------------- header search ---------------------*/


.partner-support-search {
	position: relative;

	 .material-icons {
	 position: absolute;
	 right: 0px;
	 z-index: 9;
	 top: 0px;
	}
}
.header-search {
	background: #e8e8e8;
	box-shadow: 0 2px 3px #cccccc;

	 .text-align-right {
	 text-align:right
	}
}
.header-search .material-icons a {
	color: #999;
 	font-size:$font-size-h1;
	text-decoration: none;
}
.header-search .btn-default {
	border: 0;
	border-bottom: 1px solid #c1c1c1;
	border-radius: 3px;
	color: #1f1f1f;
	background-color: #transparent;
	color: #757575;
	box-shadow: none;
	margin-right: 15px !important;
}
.header-search .btn-default:focus {
	border: 0;
	border-bottom: 1px solid #c1c1c1;
}
.partner-support-search .form-control {
	background: transparent;
	border: 0;
	border-bottom: 1px solid #c1c1c1;
}
.partner-support-search .btn .caret {
	margin-left: 25px;
}
.header-search .material-icons {
	padding-top: 9px;
}
.search-inner {
	background-image: url("../images/search-icon.png");
	height: 48px;
	background-repeat: no-repeat;
	background-size: 3%;
	padding-left: 25px;
	background-position: 0 4px;
}