//
// Grid system
// --------------------------------------------------

// Small grid
//
// Columns, offsets, pushes, and pulls for the small device range, from phones
// to tablets.

@media (min-width: $screen-xs-min) {
  @include make-grid(sm);
}


// Medium grid
//
// Columns, offsets, pushes, and pulls for the desktop device range.

@media (min-width: $screen-sm-min) {
  @include make-grid(md);
}


// Large grid
//
// Columns, offsets, pushes, and pulls for the large desktop device range.

@media (min-width: $screen-md-min) {
  @include make-grid(lg);
}

// Extra Large grid
//
// Columns, offsets, pushes, and pulls for the Extra large desktop device range.

@media (min-width: $screen-lg-min) {
  @include make-grid(xl);
}
