.img-carousel {
	
	&-heading {
		font-weight: $font-weight-medium;
	}

	&-list {
		
		li {
			width: 234px;
			margin-right: 42px;
			&:last-child {
				margin-right: 0;
			}
		}
	}

	.img-wrapper {
		margin-bottom: 15px;
	}
}