.increas-decrease-value{

	.value-field{
		border:solid 1px $brand-primary;
		border-radius: $border-radius-base;
		vertical-align: middle;
		padding: 1px 13px 1px 12px;
    	text-align: center;
	}

	.plus, .minus{
		padding: 3px 9px;
	}

}

