// List Offers
.list-default {
	margin:0;
	padding: 0;
	li {
		margin-bottom: 12px;
		list-style: none;
		position: relative;
		padding-left: 20px;
		background: url(/images/bullet.png) no-repeat 0px 4px;
	}
}

ol{
	padding: 0;
	margin: 0;
	li{
		margin-bottom: 12px;
		padding-left: 12px;
	}
}