// List Offers
.list-offers {
	margin:0;
	padding: 0;
	li {
		margin-bottom: 24px;
		list-style: none;
		position: relative;
		padding-left: 40px;
	}

	&__icons {
		position: absolute;
		left: 0;
		top: -2px;
		//margin-top: -10px;
	}
}