.list-social {
	margin:0;
	padding:0;

	li {
		float:left;
		list-style: none;
	}

	a{
		background: url(/images/sprite.png) no-repeat;
		background-position: 0 0;
		display: block;
		width: 30px;
		height: 18px;
		margin-right: 20px;
	
	}
	.disable{
		cursor: default;
	}

	&-fb {
		a{
			background-position: 4px 0;
			&:hover {
				background-position: 4px -32px;
			}
			&.disable{
				background-position: 4px -64px;
			}
		}
		
	}

	&-tw {
		a{
			background-position: -32px 0px;
			&:hover {
				background-position: -32px -32px;
			}
			&.disable{
				background-position: -32px -64px;
			}
		}
			
	}
	&-gplus {
		a{
			background-position: -69px 0px;
			&:hover {
				background-position: -69px -32px;
			}
			&.disable{
				background-position: -69px -64px;
			}
		}
			
	}
	&-pin{
		a{
			background-position: -110px 0px;
			&:hover {
				background-position: -110px -32px;
			}
			&.disable{
				background-position: -110px -64px;
			}
		}
			
	}
	&-in{
		a{
			background-position: -147px 0px;
			&:hover {
				background-position: -147px -32px;
			}
			&.disable{
				background-position: -147px -64px;
			}
		}
			
	}
	&-yt{
		a{
			background-position: -184px 1px;
			&:hover {
				background-position: -184px -31px;
			}
			&.disable{
				background-position: -184px -64px;
			}
		}
			
	}
	&-insta{
		a{
			background-position: -223px 0px;
			&:hover {
				background-position: -223px -32px;
			}
			&.disable{
				background-position: -223px -64px;
			}
		}
			
	}
}