// Loader

.nb-loader {
	.loading-div {
    	opacity: 0.2;
	}

	.loading {
	    display: block !important;
	    left: 50%;
	    top: 50%;
	    position: fixed;
	    transform: translateY(-50%);
	}

	.loaded {
    	opacity: 1;
	}
}

/*--------Gif Loader functionality--------*/

.loader{
	    background-color: rgba(255, 255, 255, 0.8);
	    z-index: 1051;
	    position: fixed;
	    margin:auto;top: 0;left: 0;right: 0;bottom: 0;
	    visibility: hidden;
   img{
	    position: fixed;
	    width: 170px;
	    margin:auto;top: 0;left: 0;right: 0;bottom: 0;
	    border-radius: 10%;
    }
  }

.show-loader{
  	height: 100%;
  	overflow: hidden;
  	.loader{
    	visibility: visible;
  	}
}

.card-loader{
  position: relative;
  .loader{
    position: absolute;
    img{
      position: absolute;
    }
  }
}



/*--------Field Level Loader--------*/

.field-level-loader{
	position: absolute;
	top: 50%;
	right: 0;
	margin-right: 14px;
	-ms-transform: translateY(-50%); /* IE 9 */
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

.field-loader{
  position: relative;
  display: table;
  width: 100%;

  &:after{
  	content:'';
  	width: 5px;
  	height: 5px;
  	background-color: rgba(256,0,0, 0.5);
  	border-radius: 2px;
  	top: 50%;
  	right: 2%;
  	position: absolute;
  	margin-right: 24px;
  	transform: translateY(-50%);
  	box-shadow: 7px 0 0 0 rgba(256,0,0, 0.5), 14px 0 0 0 rgba(256,0,0, 0.5);
  	-ms-animation: loader 0.6s alternate infinite linear;
  	-o-animation: loader 0.6s alternate infinite linear;
  	-moz-animation: loader 0.6s alternate infinite linear;
  	-webkit-animation: loader 0.6s alternate infinite linear; 
  }
}

@-webkit-keyframes loader {
  0%{
    background-color: rgba(256,0,0, 0.6);
    box-shadow: 7px 0 0 0 rgba(256,0,0, 0.2), 14px 0 0 0 rgba(256,0,0, 0.2);
    
  }
  50%{ 
    background-color: rgba(256,0,0, 0.2);
    box-shadow: 7px 0 0 0 rgba(256,0,0, 0.6), 14px 0 0 0 rgba(256,0,0, 0.2);
  }
  100%{ 
    background-color: rgba(256,0,0, 0.2);
    box-shadow: 7px 0 0 0 rgba(256,0,0, 0.2), 14px 0 0 0 rgba(256,0,0, 0.6);
  }
}
@-o-keyframes loader {
  0%{
    background-color: rgba(256,0,0, 0.6);
    box-shadow: 7px 0 0 0 rgba(256,0,0, 0.2), 14px 0 0 0 rgba(256,0,0, 0.2);
    
  }
  50%{ 
    background-color: rgba(256,0,0, 0.2);
    box-shadow: 7px 0 0 0 rgba(256,0,0, 0.6), 14px 0 0 0 rgba(256,0,0, 0.2);
  }
  100%{ 
    background-color: rgba(256,0,0, 0.2);
    box-shadow: 7px 0 0 0 rgba(256,0,0, 0.2), 14px 0 0 0 rgba(256,0,0, 0.6);
  }
}
@-moz-keyframes loader {
  0%{
    background-color: rgba(256,0,0, 0.6);
    box-shadow: 7px 0 0 0 rgba(256,0,0, 0.2), 14px 0 0 0 rgba(256,0,0, 0.2);
    
  }
  50%{ 
    background-color: rgba(256,0,0, 0.2);
    box-shadow: 7px 0 0 0 rgba(256,0,0, 0.6), 14px 0 0 0 rgba(256,0,0, 0.2);
  }
  100%{ 
    background-color: rgba(256,0,0, 0.2);
    box-shadow: 7px 0 0 0 rgba(256,0,0, 0.2), 14px 0 0 0 rgba(256,0,0, 0.6);
  }
}
@-ms-keyframes loader {
  0%{
    background-color: rgba(256,0,0, 0.6);
    box-shadow: 7px 0 0 0 rgba(256,0,0, 0.2), 14px 0 0 0 rgba(256,0,0, 0.2);
    
  }
  50%{ 
    background-color: rgba(256,0,0, 0.2);
    box-shadow: 7px 0 0 0 rgba(256,0,0, 0.6), 14px 0 0 0 rgba(256,0,0, 0.2);
  }
  100%{ 
    background-color: rgba(256,0,0, 0.2);
    box-shadow: 7px 0 0 0 rgba(256,0,0, 0.2), 14px 0 0 0 rgba(256,0,0, 0.6);
  }
}

/*--------Card Level Loader--------*/
.card-level-loader{
  width: 100%;
  position: relative;

  &:before{
    content: '';
    position: absolute;
    display: block;
    height: 100px;
    width: 200px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background: url('/images/loader_v2.gif') no-repeat;
    z-index: 12;
    background-size: contain;
  }

  &:after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 10;
  }
}
