// Login
.login {
	background: url(/images/bg-login.jpg) no-repeat left top;
	background-size: cover;
	// position: fixed;
    width: 100%;
    height: 100vh;
    padding: 18px 0px;
    overflow-x: hidden;


    &__main {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			-webkit-transform: translateY(-50%);
			width: 100%;

			&--form {
				img {
					width: 100%;
					max-width: 100%;
				}
			}

			&--error {
				display: none;
				.material-icons {
					font-size: 50px;
					color: $gray-dark;
				}
			}
    }
    &__logo{
	    max-width: 270px;
	    margin: 0 auto;
	    margin-bottom: 18px;
    }

}

/*--------------- Login for Merchant Center----------------*/

.login__block{
	background-color: #fff;
	border-radius: 3px;
	margin-bottom: 18px;
    background-color: rgba(255, 255, 255, 0.15);

	.login-text-style{
	 	font-size: 13px;
	 	color:#fff;
	 	font-weight:400;
	}

	.form-control{
		padding: 11px 36px;

	}
	.login-input-grp{
		position: relative;
	}
	.login-icons{
		position: absolute;
		left: 0;
		padding: 10px;
	}
	.material-icons{
		color: #BFBFBF;
		font-size: 21px;
	}

	.error{
		border:1px solid #e54545;
	}

	.account-id{
		color: $color-white;
		.material-icons{
			color: $color-white;
		}
		span{
			vertical-align: top;
		}
		.know-more-content{
			font-size: 13px;
			color: #757575;
		}
	}

	&-heading{
		padding:12px 30px;
	}
}

