.modal-header {
	padding: 18px;
  img{
		width: 100%;
		border-top-left-radius: 3px;
		border-top-right-radius: 3px;
  }
}

.modal-header .close {
    margin-top: 0;
}

.modal--confirm {
    .modal-dialog {
        width: 400px;
    }
}

.modal-cancel{
	position: absolute;
	top: 18px;
	right: 18px;
}

@media (min-width: $screen-sm-min) {
	.modal-tour-sm{
		width: $tour-modal-sm;
	}
}

.modal-body{
	a:hover, a:focus{
		text-decoration: none;
	}
}