
.img-wrapper {
	position: relative;
  background: url(../../images/img-wm.png) no-repeat center center #f5f5f5;
  margin-bottom: 20px;
  padding-top: 56.25%;
  overflow: hidden;
  border: 1px solid transparent;

  img{
	  position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    max-width: none;
  }
	
	// Empty bucket
  &--placeholder{
  	position: relative;
  	height: 100%;
  	background-image: none;
  	background-color: $color-white;

  	.placeholder-content{
  		position: absolute;
	    top: 50%;
	    transform: translateY(-50%);
			text-align: center;
			padding: 0 35px;
  	}
  }

  &--draggable {
  	img {
			position: static;
			height: auto;
			width: auto;
			padding-top: 0;
  	}
  }	
}

	.img-btn-group {
		position: absolute;
		right: 12px;
		top: 12px;
	}

	.img-select {
		position: relative;
		width: 21px;
		height: 21px;
		margin-bottom: 5px;

		input[type="checkbox"] {
			opacity: 0;
			width: 21px;
			height: 21px;
			position: absolute;
			z-index: 8;
		}
	}

	.icon-select, .img-delete{
		background: url(/images/img-buttons.png) no-repeat 0 0;
		width: 21px;
		height: 21px;
		display: block;
	    top: 0;
	    left: 0;
	}

	.img-comment{
		.btn{
			padding: 0;
			width: 25px;
			height: 25px;
		}
		.material-icons{
			font-size: 14px;
			vertical-align: middle;
		}

	}

	.img-select {
		input[type="checkbox"]:checked + .icon-select {
			background-position: 0 -61px;
		}
	}


	.img-label {
		position: absolute;
		top: 12px;
		left: 12px;
		color: $color-white;
		background-color: $brand-secondary;
		padding: 5px 10px;
		border-radius: 3px;
	}
	.img-delete {
		background-position: -2px -31px;
		top: 40px;
		padding: 0;
		margin: 0;
	}

.multiple-image-upload {

	&__heading {
		font-weight: $font-weight-medium;
		margin-bottom: 18px;
	}

	
}