// panel
.panel-group {
	//border: 1px solid $gray-light;
	//border-radius: $border-radius-base;
	border-bottom: none;
	margin-bottom: 0;

	.panel {
		border-top: none;
		border-left: none;
		border-right: none;
		box-shadow: none;
	}
}

.panel-group .panel-heading + .panel-collapse > .panel-body {
	border-top: none;
}

.panel-default {
	> .panel-heading {
		color: $gray-darker;
		background-color: transparent;
		padding: 0;
	}
}

.panel-body {
	padding: 0px 24px 24px;
}

.panel-title > a {
	text-decoration: none;
	padding: 24px 24px;
	display: block;
	position: relative;
}
.panel-icons {
	position: absolute;
    right: 24px;
    top: 50%;
    margin-top: -10px;
}
.panel-icons .panel-open {
	display: none;
}

.collapsed {
	.panel-open{
		display: block;
	}
	.panel-close{
		display: none;
	}
}