.nb-progress {
	
	
	&__status {
		margin-top: 6px;
		font-size: 10px;
		font-weight: 500;

		&--done {
			color: $brand-primary;
			text-transform: uppercase;
		}
	}

	progress[value] {
		-webkit-appearance: none;
		appearance: none;
		border: none;
		width: 56px; 
		height: 4px;
		background-color: $gray-light;
		color: $gray-light;
		position: relative;
		border-radius: 4px;
		overflow: hidden;
	}

	progress[value]::-webkit-progress-bar {
		background-color: $gray-light;
	    height:4px;
	}

	progress[value]::-webkit-progress-value {
		position: relative;
		background-color: #757575;
	}
	progress[value = "100"]::-webkit-progress-value {
		background-color: $brand-primary;
	}

	/* Firefox */

	progress[value]::-moz-progress-bar {
		background-color: #757575;
	}
	progress[value ="100"]::-moz-progress-bar {
		background-color: $brand-primary;
	}
}