.single-image-upload {

	&__heading {
		font-weight: $font-weight-medium;
		margin-bottom: 18px;
	}

	.img-wrapper {
		position: relative;
		background: url(../../images/img-wm.png) no-repeat center center #f5f5f5;
		height: 142px;
		overflow-x: hidden;
		&__overlay {
			position: absolute;
			width: 100%;
			height: 100%;
			background-color: rgba(0,0,0,0.4);
			opacity: 0;
			transition: all 0.3s ease;
			z-index: 2;
		}

		.btn {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}

		&:hover .img-wrapper__overlay {
			opacity: 1;
		}
		img {
			position: absolute;
			top: 0;
			height: 100%;
			max-width:none;
		}
	}
}