.time-range {
	// border: 1px solid $gray-light;
	border-radius: $border-radius-base;
	display: inline-block;
	// padding-right: 3px;
	//max-height: 36px;
	@include clearfix;
	&-label {
		font-weight: $font-weight-regular;
		padding: 11px 10px;
		border-right: 1px solid $gray-light;
		border-left: 1px solid $gray-light;
		float: left;
		text-transform: lowercase;
		line-height: 18px;
	}

	&-label::first-letter{
		text-transform: uppercase;
	}

}

.time-select {
	width: 70px;
	float:left;
	border: none;
	max-height: 40px;
}
.duration-select {
	width: 56px;
	float:left;
	border: none;
	max-height: 40px;
}