.toast-message{
  opacity: 0;
  background-color: rgba(33,33,33, 0.85);
  color: #fff;
  padding: 12px 30px;
  top: -10%;
  border-radius: 3px;
  text-align: center;
  position: fixed;
  z-index: 1071 !important;
  left: 50%;   
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-transition: all 0.15s linear;
}

.toast-message--active{
  opacity: 1;
  top: 20%;
}
