.toast-message{
      opacity: 0;
      background-color: rgba(33,33,33, 0.8);
      color: #e0e0e0;
      padding: 12px 30px;
      font-weight: bold;
      top: -10%;
      border-radius: 3px;
      // width: 15%;
      text-align: center;
      position: fixed;
      top: 0%;
      z-index: 9;
      left: 50%;   
}

.toast-message--active{
      opacity: 1;
      top: 30%;
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
       -o-transform: translateX(-50%);
       transform: translateX(-50%);
      //  //-webkit-transition: all 0.3s ease;
      //  -webkit-animation: slideDown .3s linear;
      // animation: slideDown .3s linear;
      //-webkit-transform: translateY(-50px);
      -webkit-animation: slideDown 3s 1 ease forwards;
      // -moz-transform: translateY(-50px);
      -moz-animation: slideDown 3s 1 ease forwards;
}


// slide down animation

@-webkit-keyframes slideDown {
0%, 100% { -webkit-transform: translateY(-50px); }
10%, 90% { -webkit-transform: translateY(0px); }
}
@-moz-keyframes slideDown {
0%, 100% { -moz-transform: translateY(-50px); }
10%, 90% { -moz-transform: translateY(0px); }
}


// @-webkit-keyframes slideDown {
//       0% {
//             -webkit-transform: translate(-49%,-100%);
//       }
                  
//       100% {
//             -webkit-transform: translate(-50%,0%);
//       }     
// }
