.toggle{
  cursor: pointer;
  margin-bottom: 0px;

  &__text{
    margin-right: 6px;
    display: inline-block;
    vertical-align: middle;
  }

  .inactive{
    color: $gray;
  }

  &__control{
    transition: .2s cubic-bezier(0.95, 0.05, 0.795, 0.035);
    width: 35px;
    height: 14px;
    display: inline-block;
    border-radius: 10px;
    background-color: $gray;
    position: relative;
    vertical-align: middle;

    &:after{
      transition: .2s cubic-bezier(0.95, 0.05, 0.795, 0.035);
      content: "";
      width: 20px;
      height: 20px;
      background-color: $color-white;
      display: block;
      border-radius: 50%;
      box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.3);
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
    }
  }

  &_input{
    display: none;

    &:checked + .toggle__control{
      background-color: rgba(45, 186, 170, 0.5);
      
      &:after{
        background-color: $brand-secondary;
        left: 15px;
      }
    }  
  }
}




