.tooltip-wrapper {
    position: relative;

    &:hover{
    	.tooltip-popover {
	  		opacity: 1;
	  		pointer-events: auto;
		}
    } 

    /******** tooltip-popover with modifiers **********/

	.tooltip-popover {
		border: 1px solid #e0e0e0;
	    background: #fff;
	    box-shadow: 0 0px 3px $gray-light;
	    border-radius: 3px;
	    opacity: 0;
	    padding: 12px;
	    pointer-events: none;
	    position: absolute;
	    min-width: 250px;
	    max-width: 350px;
	    left: 50%;
	    z-index: 11;
	    -webkit-transform: translateX(-50%);
	    -moz-transition: translateX(-50%);
	    -ms-transition: translateX(-50%);
	    -o-transition: translateX(-50%);
	    transition: translateX(-50%);
	  
	  	-webkit-transition: all .25s ease-out;
	    -moz-transition: all .25s ease-out;
	    -ms-transition: all .25s ease-out;
	    -o-transition: all .25s ease-out;
	    transition: all .25s ease-out;

	   	&--top{
			top: 100%;
			margin-top: 18px;
		}

		&--bottom{
			bottom: 100%;
			margin-bottom: 18px;
		}

		&--left{
			top: 50%;
		    left: 0;
		    margin-left: -18px;
		    -webkit-transform: translate(-100%, -50%);
		    -moz-transform: translate(-100%, -50%);
		    -ms-transform: translate(-100%, -50%);
		    -o-transform: translate(-100%, -50%);
		    transform: translate(-100%, -50%);
		}

		&--right{
			top: 50%;
		    margin-left: 18px;
		    left: 100%;
		    -webkit-transform: translateY(-50%);
		    -moz-transform: translateY(-50%);
		    -ms-transform: translateY(-50%);
		    -o-transform: translateY(-50%);
		    transform: translateY(-50%);
		}
	}

	/******** tooltip-popover with child elements **********/

	.tooltip-popover {

	 	/******** arrow **********/

	    &__arrow{
	    	border: 8px solid white;
			transform-origin: 0 0;
			box-shadow: 1px -1px 1px 0 $gray-light;
			position: absolute;
			left: 50%;
	    }

		/******** top arrow **********/

	    &--top-arrow{
		  	transform: rotate(-45deg);
		   	top: 0px;
		  	margin-left: -12px;
		}

		/******** bottom arrow **********/

		&--bottom-arrow{
		    transform: rotate(45deg);
		    bottom: -4px;
		    box-shadow:1px 1px 0px 0px $gray-light;
		}

		/******** both left and right arrows **********/
		
		&--left-arrow, &--right-arrow{
			top: 50%;
			margin-top: -2px;
			-webkit-transform: translateY(-50%) rotate(45deg);
		    -moz-transform: translateY(-50%) rotate(45deg);
	    	-ms-transform: translateY(-50%) rotate(45deg);
	    	-o-transform: translateY(-50%) rotate(45deg);
	    	transform: translateY(-50%) rotate(45deg);
		}

		/******** left arrow **********/

		&--left-arrow{
		    left: 100%;
		}

		/******** right arrow **********/

		&--right-arrow{
		    left: 0px;
		    box-shadow: -1px 1px 2px #e0e0e0;
		}

		&__content{
			font-size: 14px;
		  	color: $gray-darker;
		  	p.content-table{
		  		font-size: 12px;
		  		color: $gray-dark;
		  	}
		}
	}
}

  