
body{
  color:$gray-base;
  background: $color-white;
  font-size: 14px;
}

.navbar-fixed-top{
  background: $color-white; 
   box-shadow: 0px 3px 5px 0 rgba(0, 0, 0, 0.05);

   .container-fluid{
    padding-left:60px;
    padding-right: 60px;
    @include respond-to('small') {
      padding-left:12px;
    padding-right: 12px;
    }
  }
}

.navbar-brand{
    color:$brand-secondary;
  
}
.navbar-brand span{
 
    color: $brand-primary;
  }

.jumbotron{
    height: 670px;
    background-color: #e3e3e3;
    border: solid 1px $color-white;
    position: relative;
    .container{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    .h1, h1{
    font-size: 50px;
    margin-bottom: 30px;
  }
  p{
      margin-bottom: 15px;
      font-size: 32px;
      color: $color-white;
  }
  
}
.jumbotron.bottom{
    height: 440px;
  }
.marketing .col-lg-4 {
    margin-bottom: 20px;
    text-align: center;
}

.img-circle{
  border-radius: 0;
  background:  #e3e3e3;
  
}
footer{
  background: $white-smoke;

  li{
    list-style: none;
    a{
      color: #9d9a9a;
    }
    a:hover{
      color: #9d9a9a;
    }
  }
}
.close{
  opacity: 1;
}

.form-control{
  border:1px solid #666666;
  color:#30416b;
}

.btn-txt {
    border: solid 1px transparent;
    border-radius: 0;
    background: transparent;
    color: #ee2a7b;
    font-weight: 600;
}

.btn-primary {
    color: #fff;
    background-color: #12275b;
    border-color: #12275b;
    border-radius: 27px;
}

